
/* page's styles !!!YOU NEED THEM */
html,
body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  overflow-x: hidden;
}

.page,
.page__content {
  position: relative;
}

.page {
  min-height: 100vh;
  -webkit-perspective: 1500px;
          perspective: 1500px;
  background-color: rgba(28, 28, 28, 0.5);
}

.page__content {
  min-height: 100vh;
  background-color: #fff;
}

.content{
  padding: 10%;
  max-width: 1980px;
}

.center{
  display: flex;
  justify-content: center;
  align-items: center;
}

/* navigation styles */
.nav {
  position: fixed;
  top: 0;
  bottom: 0;
  width: 300px;
  padding: 30px;
  box-sizing: border-box;
  background-color: #1c1c1c;
  box-shadow: 4px 0 5px 0 rgba(0, 0, 0, 0.14), 1px 0 10px 0 rgba(0, 0, 0, 0.12), 2px 0 4px -1px rgba(0, 0, 0, 0.3);
  opacity: 0;
  visibility: hidden;
  z-index: 500;
}

/* nav list styles */
.nav__list {
  position: relative;
  padding: 0;
  margin: 45px 0 0 0;
  list-style-type: none;
}

/* nav item styles */
.nav__item:not(:last-child) {
  margin-bottom: 20px;
}

/* nav link styles */
.nav__link {
  transition-property: all;
  transition-duration: 0.2s;
  transition-timing-function: linear;
  transition-delay: 0s;
  display: inline-flex;
  align-items: center;
  color: #fff;
  text-decoration: none;
}
.nav__link:hover {
  color: #4caf50;
}

/* nav link icon styles */
.nav__link-icon {
  position: relative;
  top: -3px;
  /* !!!use only with material design icons */
  margin-right: 10px;
  color: currentColor;
}

/* close icon styles */
.nav__close {
  position: absolute;
  top: 30px;
  right: 30px;
  width: 40px;
  height: 25px;
  cursor: pointer;
  /* close icon elements */
  /* hover effect */
}
.nav__close:before, .nav__close:after {
  transition-property: all;
  transition-duration: 0.2s;
  transition-timing-function: linear;
  transition-delay: 0s;
  display: block;
  width: 4px;
  height: 28px;
  border-radius: 10px;
  content: '';
  -webkit-transform-origin: center center;
          transform-origin: center center;
  background-color: #fff;
}
.nav__close:before {
  position: absolute;
  top: 0;
  left: 18px;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}
.nav__close:after {
  position: absolute;
  top: 0;
  right: 18px;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}
.nav__close:hover:before, .nav__close:hover:after {
  background-color: #4caf50;
}

/* nav open btn styles */
.nav-open-btn {
  position: absolute;
  top: 30px;
  left: 30px;
  transition-property: all;
  transition-duration: 0.2s;
  transition-timing-function: linear;
  transition-delay: 0s;
  width: 35px;
  height: 25px;
  overflow: hidden;
  cursor: pointer;
}
.nav-open-btn.js-hidden {
  transition-property: all;
  transition-duration: 0s;
  transition-timing-function: linear;
  transition-delay: 0s;
  opacity: 0;
  visibility: hidden;
}

.nav-open-btn__bar {
  width: 100%;
  height: 5px;
  background-color: #1c1c1c;
  border-radius: 20px;
}
.nav-open-btn__bar:nth-child(1) {
  position: absolute;
  top: 0;
  left: 0;
}
.nav-open-btn__bar:nth-child(2) {
  position: absolute;
  top: 10px;
  left: 0;
}
.nav-open-btn__bar:nth-child(3) {
  position: absolute;
  top: 20px;
  left: 0;
}



/* Demo #3: styles */
.nav--offcanvas-3 {
  transition-property: all;
  transition-duration: 0.2s;
  transition-timing-function: linear;
  transition-delay: 0s;
  left: -300px;
  /* opened styles */
}
.nav--offcanvas-3.js-opened {
  transition-property: left;
  transition-duration: 0.2s;
  transition-timing-function: linear;
  transition-delay: 0s;
  left: 0;
  opacity: 1;
  visibility: visible;
}

.page__content--offcanvas-3 {
  transition-property: all;
  transition-duration: 0.2s;
  transition-timing-function: linear;
  transition-delay: 0s;
  -webkit-transform: rotateY(0deg) translateX(0);
          transform: rotateY(0deg) translateX(0);
}
.page__content--offcanvas-3.js-opened {
  -webkit-transform: translate3d(100px, 0, -600px) rotateY(-20deg);
          transform: translate3d(100px, 0, -600px) rotateY(-20deg);
}

/*TOP SECTION*/
.top{
  height: 600px;
  background-size: cover;
  background-position: center;
  background-image: url(../img/top.jpg);
}

/*MAIN SECTION*/
.top2{
  height: 600px;
  background-size: cover;
  background-position: center;
  background-image: url(../img/top.jpg);
}